body {
    padding: 10px;
}

img {
    max-width: 100px;
    height: 200px;
    border: 2px solid green;
    margin-right: 20px;
}

ul {
    padding: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    width: auto;
    border: 0.1px solid lightgrey;
    padding: 10px;
    margin: 0px;
    border-radius: 6px;
}
